@import "../../styles/color.scss";

.headerWrap {
    display: flex;
    background-color: $primary;
    border-top: 40px solid $primaryDark;
    justify-content: center;

    .headerContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between; //arquivo fica de um lado e o outro do outro lado logo de uma lado nome e sair fica dooutro lado da tela
        max-width: 800px;
        flex-grow: 1;
        padding: 20px 40px;

        img {
            width: 60px;
            align-self: center;
        }

        .logoutWrap {
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: flex-end;
            justify-content: center;
            color: $write;

            span {
                font-size: 16px;
                margin-bottom: 8px;
            }

            a {
                color: $write;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}

@media only screen and (max-width: 600px) {
    .headerWrap {
        border-top-width: 20px ;
    }    
}